*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}


body {
    margin: 0;
    min-width: 320px;
}
a {
    list-style-type: none;
    text-decoration: none;
}
.header {
    background-image: url('../images/football_767.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    position: relative;
    color: #ffffff;
    z-index: 1;
}

.header::before {
    content: "";
    opacity: 0.7;
    background-color: #090c35;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.surface-logo {
    display: block;
    margin: 0 auto;
    width: 132px;
    height: 32px;
    padding-top: 40px;
    fill: white;
    margin-bottom: 95px;
}
.header-h {
    font-size: 28px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 31px;
    text-align: center;
}
/*.header-h1 {
    text-align: center;
}*/
.header-h2 {
    padding-left: 90px;
}
.button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(100vh - 450px);
    margin-bottom: 50px;
}
.btn-app {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
    color: #ffffff;
    width: 280px;
    height: 35px;
    border-radius: 17px;
    background-color: #5e42b0;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding: 7px 0;
    border: 0;
}
.btn-app:nth-child(2) {
    margin-top: 13px;
}
.caption-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 82px;
    font-family: "Open Sans";
}
.btn-caption-normal {
    font-weight: 400;
}
.btn-caption-bold {
    font-weight: 700;
}
.btn-svg {
   width: 20px;
   height: 20px; 
   fill: white;
   margin-right: 6px;
}
.btn-svg:nth-child(2) {
    margin-right: 11px;
}
.common-h {
    font-size: 50px;
    color: #e7e7e7;
    font-weight: 700;
    text-transform: uppercase; 
    font-family: "Open Sans";
    padding-left: 6%;
    padding-top: 7%;
    margin: 0;
    position: relative;
}
.h-athlets::after {
    content: "";
    background-image: url("../images/footballer_192.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    z-index: 1;
    /*bottom: -300px;
    left: 0;*/
    display: block;
    height: 285px;
    margin-bottom: -30px;
    background-position: 50% 0;
}

.footballer-img {
    display: block;
    margin: auto;
    margin-bottom: -55px;
}
/*.athlets-cards {
}*/
.card-common {
    padding-top: 60px;
    padding-bottom: 55px;
    padding-left: 6%;
}
.athlets-card:nth-child(1) {
    background-color: #fafafa;
}
.athlets-card:nth-child(2) {
    background-color: #f5f4f9;
    margin-top: 0;
}
.athlets-card:nth-child(3) {
    background-color: #5e42b0;
}
.athlets-card:nth-child(3) .athlets-card-num::after {
    background: white;
}
.title-common {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.number-common {
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    margin-right: 10px;
}
.number-common:nth-child(-n+2)::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: #5e42b0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}
.number-common:nth-child(3)::after {  /*doesnt work this and previous one*/
    content: "";
    background-color: #ffffff;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}
.heading-common {
    font-size: 23px;
    letter-spacing: 1px;
    color: #c1c1c1;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans";
}
.prg-common {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Open Sans";
    margin: 0;
    color: #000000;
}
.prg-white {
    color: white;
}
/*.h-players::after {
    content: "";
    background-image: url("../images/basketballer_302.png");
    background-repeat: no-repeat;
    background-size: contain;
    
        for mibile versions! use media 

    z-index: 1;
    display: block;
    height: 285px;
    margin-bottom: -30px;
}*/
picture {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.players-card:nth-child(1) {
    background-color: #fafafa;
}
.players-card:nth-child(2) {
    background-color: #f5f4f9;
}
.players-card:nth-child(3) {
    background-color: #090c35;
}
.players-card-number {
    color: #8765dd;
    margin-right: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Open Sans";
}
/* nth-child(3) doesnt work*/
.players-card-number::after { 
    content: "";
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    width: 100%;
    height: 4px;
    border-radius: 1px;
}
/*.be-active-section {
    background-image: url("/Users/margaritasharova/Desktop/mq-diploma/images/be-active_640.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
}*/

.be-active-img {
   width: 100%; 
   position: relative;
   z-index: -1;
}
.be-active-box {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    margin-left: 6%;
}
.be-active-num {
    font-size: 14px;
    letter-spacing: 1px;
    color: #f5f6f7;
    font-family: "Open Sans";
    font-weight: 700;
}
.be-active-num::after  {
    content: "";
    width: 17px;
    height: 4px;
    border-radius: 1px;
    background-color: #8765dd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}
.be-active-prg {
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    padding-left: 6%;
    margin-bottom: 80px;
}
.footer {
    background-image: url('../images/game_767.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    position: relative;
    color: #ffffff;
    z-index: 1;
    margin: 0;
}

.footer::before {
    content: "";
    opacity: 0.7;
    background-color: #090c35;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.logo-container {
    padding-top: 95px;
}
.footer-box {
    width: 72px;
    height: 72px;
    background-color: #5e42b0;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.footer-logo {
    width: 57px;
    height: 46px;
    fill: white;
}
.footer-h2 {
    font-size: 32px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
.footer-h3 {
    font-size: 14px;
    letter-spacing: 1px;
    color: #9b8ec1;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}
.surface-footer {
    margin-bottom: 0;
    display: block;
    margin: 0 auto;
    width: 132px;
    height: 32px;
    fill: white;
}
@media (min-width: 641px) and (max-width: 960px) {
    .header {
        background-image: url("../images/football_1280.jpg");
    }
    .surface-logo {
        margin-bottom: 179px;
    }
    .header-h1 {
        max-width: 800px;
        line-height: 64px;
    }
    .header-h2 {
        padding-left: 230px;
    }
    .section-athlets {
        position: relative;
    }
    .h-athlets {
        padding-left: 300px;
    }
    .h-athlets::after {
        content: "";
        background-image: url("../images/footballer_497.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: -580px;
        margin-left: -400px;
        display: block;
        height: 564px;
        background-position: 0 0;
    }
    /*.footballer-img {
        margin-left: -140px;
        position: absolute;
        margin-top: -80px;
    }*/
    .card-common {
        padding-top: 0;
        padding-left: 0;
    }
    .athlets-title {
        padding-left: 300px;
    }
    .number-common {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .number-common::after { /*doesnt workkk*/
        content: "";
        width: 100%;
        height: 5px;
        border-radius: 2px;
    }
    .heading-common {
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .athlets-card-prg {
        padding-left: 300px;
    }
    .prg-common {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 28px;
        font-weight: 400;
        max-width: 398px;
    }
    .players-section {
        position: relative;
    }
    .h-players {
        padding-left: 6%;
    }
    /*.h-players::after {
        content: "";
        background-image: url("../images/basketballer_436.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100% 0;
        display: block;
        height: 550px;
        margin-bottom: -480px;
    }*/
    .players-card {
        padding-left: 6%;
    }
    .player-img {
        position: absolute;
        right: 0;
        top: 0;
    }
    .be-active-box {
        width: 116px;
        height: 116px;
    }
    .be-active-num {
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    .be-active-num::after {
        width: 25px;
        height: 5px;
        border-radius: 2px; 
    }
    .be-active-prg {
        letter-spacing: 1px;
        line-height: 28px;
        margin-right: 92px;
    }
    .footer {
        background-image: url("../images/game_1280.jpg");
    }
    .footer-box {
        width: 132px;
        height: 136px;
    }
    .footer-logo {
        width: 103px;
        height: 85px;
    }
    .footer-h3 {
        font-size: 36px;
    }
    .btns-footer {
        margin-top: calc(100vh - 720px);
    }
    .surface-footer {
        width: 203px;
        height: 55px;
    }
}

@media (min-width: 641px) {
    .surface-logo {
        width: 205px;
        height: 55px;
    }
    .header-h {
        font-size: 64px;
        letter-spacing: 3px;
    }
    .header-h1 {
        max-width: 900px;
        line-height: 64px;
    }
    .header-h2 {
        padding-left: 242px;
        line-height: 50px;
    }
    .button-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin-top: calc(100vh - 650px);
    }
    .btn-app {
        height: 77px;
        border-radius: 38px;
        flex-direction: row;
        width: 310px;
    }
    .btn-app:nth-child(2) {
        margin-left: 30px;
    }
    .btn-caption-normal {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .btn-caption-bold {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    .common-h {
        font-size: 80px;
        font-weight: 700;
    }
    .athlets-card:nth-child(1) {
        background-color: #fff;
    }
    .players-card:nth-child(1) {
        background-color: #fff;
    }
    .footer-h2 {
        font-size: 80px;
        letter-spacing: 4px;
    }
    .btns-footer {
        margin-top: calc(100vh - 650px);
    }
}
@media (min-width: 961px) and (max-width: 1920px) {
    .header {
        background-image: url("../images/football_1920.jpg");
    }
    .h-athlets::after {
    content: "";
    background-image: url("../images/footballer_566.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 700px;
    display: block;
    height: 900px;
    position: absolute;
    left: 20px;
    top: 100px;
    }
    .athlets-card {
        padding-left: 50%;
    }
    .h-athlets {
        padding-left: 50%;
    }
    .players-section {
        position: relative;
    }
    .player-img {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
        max-height: 800px;
    }
    .be-active-card {
        display: flex;
        position: relative;
    }
    .be-active-card:nth-child(2) {
        flex-direction: row-reverse;
    }
    .be-active-img {
        width: 50vw;
        display: block;
    }
    .be-active-box {
        width: 168px;
        height: 155px;
        position: absolute;
        left: calc(50% - 168px);
        right: calc(50% - 155px);
        top: 240px;
       
    }
    .be-active-title {
        width: 50%;
        margin-top: 100px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .be-active-num {
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
    }
    .be-active-num::after {
        width: 24px;
        height: 5px;
    }
    .be-active-prg {
        font-size: 24px;
    }
    
}
@media (min-width: 961px) {
    .surface-logo {
       margin-bottom: 200px;
    }
    .surface-logo,
    .surface-footer {
        width: 190px;
        height: 50px;
    }
    .btn-svg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .h-athlets::after {
        content: "";
        background-image: url("../images/footballer_566.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 900px;
        position: absolute;
        width: 900px;
        left: 20px;
    }
    .athlets-card-prg {
        margin-right: 55px;
    }
    .number-common {
        font-size: 24px;
    }
    .heading-common {
        font-size: 36px;
    }
    .prg-common {
        font-size: 20px;
        line-height: 28px;
    }
    .players-card-prg {
        width: 50%;
    }
    .players-card-number {
        color: #8765dd;
        margin-right: 10px;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: "Open Sans";
    }
    .footer-container {
        display: flex;
        justify-content: center;
        padding-top: 245px;
        align-items: center;
    }

    .logo-container {
        padding-top: 0;
    }
    .title-container {
        margin-left: 36px;
    }
    .footer {
        background-image: url("../images/game_1920.jpg");
    }
    .footer-box {
        width: 130px;
        height: 135px
    }
    .footer-logo {
        width: 103px;
        height: 85px;
    }
    .footer-h2 {
        margin-top: 0;

    }
    .footer-h3 {
        font-size: 30px;
        text-align: left;
        margin-bottom: 0;
    }
}
@media (min-width: 1921px) {
    .header {
        background-image: url("../images/football_1920.jpg");
    }
    .surface-logo {
        margin-bottom: 200px;
    }
    .header-h1 {
        padding-left: 194px;
    }
    .header-h2 {
        padding-left: 194px;
    }
    .section-athlets {
        position: relative;
    }
    .footballer-img {
        width: 50%;
        position: absolute;
        top: 25px;
    }
    /*.h-athlets::after {
        content: "";
        background-image: url("../images/footballer_566.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 900px;
        position: absolute;
        left: 20px;
        width: 900px;
    }*/
    .athlets-card {
        padding-left: 50%;
    }
    .h-athlets {
        padding-left: 50%;
    }

    .number-common {
        font-size: 24px;
        letter-spacing: 1px;
    }
    .number-common::after {
        content: "";
        width: 24px;
        height: 5px;
        border-radius: 2px;
    }
    .heading-common {
        font-size: 36px;
        letter-spacing: 2px;
    }
    .prg-common {
        font-size: 24px;
        line-height: 30px;
    }
   
    .athlets-card-prg {
        padding-right: 194px;
    }
    .h-players {
        padding-left: 194px;
    }
    .players-section {
        position: relative;
    }
    .player-img {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
        max-height: 800px;
    }

    .players-card {
        padding-left: 194px;
    }
    .players-card-prg {
        font-size: 24px;
        line-height: 30px;
        width: 50%;
    }
    /*.players-card:nth-child(1) {
        background-color: #fff;
    }*/
    .be-active-box {
        width: 168px;
        height: 155px;
    }
    .be-active-title {
        width: 50%;
    }
    .be-active-num {
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
    }
    .be-active-num::after {
        width: 24px;
        height: 5px;
    }
    .be-active-prg {
        font-size: 24px;
        line-height: 30px;
        width: 100%;
    }
}